@model LoginUser
<form asp-controller="Home" asp-action="Login" method="post">
    <div>
        <div class="d-flex justify-content-between gap-2">
            <label asp-for="EmailCheck"></label>
            <input asp-for="EmailCheck" type="text">
        </div>
        <span asp-validation-for="EmailCheck" class="text-danger font-weight-bold"></span>
    </div>
    <div>
        <div class="d-flex justify-content-between gap-2">
            <label asp-for="PasswordCheck"></label>
            <input asp-for="PasswordCheck" type="password">
        </div>
        <span asp-validation-for="PasswordCheck" class="text-danger font-weight-bold"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Login">
</form>